
################################
# Operating System Files
################################

#
# Windows
#


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#
# OSX
#

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


################################
# Programming Languages
################################


# python
*.py[cod]

# C extensions
*.so


################################
# Packages
################################

# Packages
*.egg
*.egg-info
dist
bin
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64


################################
# Archives
################################

# compressed
*.tar

# bootstraps
bootstrap*.dat



################################
# Log Files
################################

# Installer logs
pip-log.txt

# General logs
*.log


################################
# Testing
################################

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


################################
# Temporary Files
################################

# vim backup files
*~

# Translations
*.mo

# general
*.not
*eraseme*
erase.*
cache
*.bak
*.lkg


################################
# IDEs
################################

# mr Developer
.mr.developer.cfg
.project
.pydevproject

# qt creator
*.user
*.user.*
*.qm


################################
# Revision Control
################################

# svn
.svn


################################
# Building Artifacts
################################

# daemon
StealthCoind

# libcryptopp
src/libcryptopp/*.o
src/libcryptopp/adhoc.cpp
src/libcryptopp/cryptest.exe
src/libcryptopp/libcryptopp.a
