<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleGetInfoString</key>
        <string>Stealth [XST] Complete Anonymity 3.1.6.4</string>
        <key>CFBundleIdentifier</key>
        <string>org.stealth.stealth-qt</string>
        <key>CFBundleShortVersionString</key>
        <string>3.1.6.4</string>
        <key>CFBundleSignature</key>
        <string>oXST</string>
        <key>CFBundleVersion</key>
        <string>3.1.6.4</string>
        <key>CFBundleName</key>
        <string>StealthCoind</string>
</dict>
</plist>
