<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>bitcoin.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Stealth [XST] Complete Anonymity 3.1.6.6</string>
        <key>CFBundleExecutable</key>
        <string>Stealth Qt</string>
        <key>CFBundleIdentifier</key>
        <string>org.stealth.stealth-qt</string>
        <key>CFBundleShortVersionString</key>
        <string>3.1.6.6</string>
        <key>CFBundleSignature</key>
        <string>oXST</string>
        <key>CFBundleVersion</key>
        <string>3.1.6.6</string>
</dict>
</plist>
